%tr{id: "book_#{book.id}"}
  %td= link_to book.title, book
  %td= book.author
  - if current_user.admin
    %td= link_to 'edit', edit_book_path(book)
    %td= link_to 'delete', book, method: :delete, remote: true
  %td= button_to 'add to bookshelf', add_to_bookshelf_bookcase_book_path(current_user.bookcase, book),remote: true, method: :post