%tr
  %td= link_to book.title, book
  %td= book.author
  - if current_user.admin
    %td= link_to 'edit', edit_book_path(book)
    %td= link_to 'delete', book, method: :delete
  %td= link_to 'add to bookshelf', add_to_bookshelf_bookcase_book_path(current_user.bookcase, book), method: :post